body {
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
    height: 100vh;
}

.error {
    color: $red;
}

.text-center {
    text-align: center;
}

.ant-layout-sider-zero-width-trigger {
    &.ant-layout-sider-zero-width-trigger-left {
        z-index: 9;
    }
}