// Main Colors
$dark: #333745;
$blue: #1890ff;
$light: #f6f6f6;
$red: #c90000;
$white: #FFFFFF;
$black: #000000;
$menu-bg: #001529;
$gray-9: #999999;

// Font Size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;

// Social Media
$google-color: #dd4b39;
$facebook-color: #3b5999;
$twitter-color: #55acee;